# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key

# API
API_KEY=your-api-key
API_TOKEN=your-api-token
BOARD_ID=your-board-id