# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key

# API TRELLO
API_KEY=your_api_key
API_TOKEN=your_api_token
BOARD=your_board_id
NOTSTARTED_LIST=your_notstarted_list
INPROGRESS_LIST=your_inprogress_list
COMPLETED_LIST=your_completed_list
