{% extends "layout.html" %}

{% block title %}Amend user's role{% endblock %}


{% block content %}
  <p class="rounded" style = "text-align: left">User ID: <b>{{ user['user_id'] }}</b></p>
  <p class="rounded" style = "text-align: left">Current role: <b>{{ user['role'] }}</b></p>
  <form action="/update_user/{{ id }}/submit" method="POST" style="padding: 7px;">
    <div class="form-row align-items-center">
      <div class="col-auto">
        <label class="sr-only" for="inlineFormInput">User</label>
        <input type="text" name="role" class="form-control mb-2" size="125" id="User" placeholder="Update the role">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary btn-lg btn-block" style="background-color:#383c44; border-color: gold; border-width: 3px; margin-top: 15px;">Update</button>
      </div>
    </div>
  </form>
  
{% endblock %}