{% extends "layout.html" %}
{% block content %}

<table class="table table-striped">
    <caption style="caption-side: top; text-align: center; font-size: 40px; color: grey;"><b>USERS:</b></caption>
    <thead>
      <tr>
        <th scope="col" style="text-align: center;">User ID</th>
        <th scope="col" style="text-align: center;">Username</th>
        <th scope="col" style="text-align: center;">Role</th>
        <th scope="col" style="text-align: center;">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for user in view_model.users %}
      <tr>
        <th scope="row" style="text-align: center;">{{ user['user_id']}}</th>
        <td scope="row" style="text-align: center;">{{ user['username']}}</td>
        <td scope="row" style="text-align: center;">{{ user['role']}}</td>
        <td style="text-align: center;">
          <a class="btn btn-primary btn-sm" style="background-color:#383c44; border-color: gold; border-width: 3px;" href="/remove_user/{{ user['user_id'] }}" role="button" method="POST">Delete</a>
          <a class="btn btn-primary btn-sm" style="background-color:#383c44; border-color: gold; border-width: 3px;" href="/show_update_user_page/{{ user['user_id'] }}" role="button" method="POST">Update</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}